@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
  background-color: rgb(255, 230, 234);
  margin-left: 10%;
  margin-right: 10%;
}

.name {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  color: rgb(0, 214, 214);
  margin: auto;
  text-align: center;
}

.login-btn{
  position: absolute;
  right: 10%;
  top: 10%;
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgb(0, 214, 214);
  text-align:center;
  transition: all 0.2s;
}

.login-btn:hover{
  color:#000000;
  background-color:#FFFFFF;
}
